{% extends "index.html" %}
{% block title %}Kahmeeah Obey · About{% endblock %}
{% block content %}

    <div class="about-grid fadeIn-animation">

        
        <div class="about-side">
            <a href="mailto:kahmeeah@nyu.edu">email me</a>
            <br>
            <a href="">view my CV</a>
            <br>
            <a href="https://github.com/kahmeeah" target="_blank">github</a>
            
        </div>
        
        <div class="about-body">
            <p style="margin-top: 0;">my name is kahmeeah obey. i like making things with computers, with words, and with my hands. i am currently
                studying computer science at new york university,
                with a minor in digital arts & design.</p>
                
                <p>when i'm not creating - i'm collecting tea tags, digging through fields 
                    of clovers, and taking care of my son (pictured right).</p>
                </div>
                
        <div class="about-pic">
            <img src="{{url_for('static', filename='images/montybear.svg')}}" alt="" style="width: 557px;">
            
        </div>
    </div>

{% endblock %}
