{% extends "index.html" %}
{% block title %}Kahmeeah Obey · Design{% endblock %}
{% block content %}
<!-- page content goes here -->
 <div class="fadeIn-animation">
    <p>hello closeup page</p>

    <div class="gallery-container">
    
        <div class="img-container">

            <div class="left-arrow"></div>

            <div class="gallery-img"></div>

            <div class="right-arrow"></div>

        </div>

        <div class="summary-container"></div>

    </div>
 </div>
{% endblock %}