<!-- <div class="nav-header">
    <a href="{{ url_for('about' )}}" id="{% if active_page == 'about' %}active{% endif %}">Kahmeeah Obey</a> 
    is a New York-based 
    <a href="{{ url_for('design' )}}" id="{% if active_page == 'design' %}active{% endif %}">designer</a>, 
    <a id="forbidden">writer</a>, and 
    <a href="{{ url_for('art' )}}" id="{% if active_page == 'art' %}active{% endif %}">artist</a> with a foundation in 
    <a href="https://github.com/kahmeeah" target="_blank">CS</a>.
</div> -->

<div class="nav-div">


<div class="nav-header">
    <a href="{{ url_for('about' )}}" id="{% if active_page == 'about' %}active{% endif %}">Kahmeeah Obey</a> 
    is a
    <a href="{{ url_for('design' )}}" id="{% if active_page == 'design' %}active{% endif %}">designer</a>
    and <a href="{{ url_for('code') }}" id="{% if active_page == 'code' %}active{% endif %}">developer</a> based in New York, NY.
</div>
</div>