:root {
    /* --color-background: #F8F8F4;
    --color-text: #281A13; */
    --color-accent: #7B5367;
    --color-yellow: #C29D3B;
    --color-yellowLight: #D9BC61;
    --color-antique: #FFFDF7;
    --color-brownblack: #281A13;
}

@font-face {
  font-family: 'EB Garamond'; 

  src: url('/fonts/EBGaramond-Regular.woff2') format('woff2'), 
       url('/fonts/EBGaramond-Regular.woff') format('woff'); 
       

  font-weight: 400;
  font-style: normal;
  font-display: swap; 
}
html{
    font-size: clamp(12px, 0.8vw + 8px, 20px);
}
p{
    font-size: clamp(16px, 2vw, 20px);
}
a{
   font-size: clamp(16px, 2vw, 20px);
    text-decoration: underline;
    color: var(--color-brownblack);

}

span{
   font-size: clamp(16px, 2vw, 20px);
}

span[class]{
    font-size: inherit;
}
a[class]{
    font-size: inherit;
}

body {
    margin: 20px;
    line-height: normal;
    background-color: #FFFDF7;
    }

a{
    text-decoration: underline;
    color: var(--color-brownblack);

}

a:hover{
    text-decoration: underline dotted;
       text-decoration-line: underline;
    text-decoration-style: dotted;
}

@keyframes fadeIn {
    0% {
      transform: translateY(35%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  
.fadeIn-animation {
     transform: translateZ(0);
    animation: fadeIn 1.5s ease;
  }

.nav-div{
    position: sticky;
    top: 0;
    z-index: 100000;
    display: flex;
    background-color: var(--color-antique);
}

.nav-header {
    width: 1210px;
    position: relative;
    font-size: 3.04rem;
    /* font-size: clamp(28px, 5vw, 64px); */
    letter-spacing: -0.02em;
    font-family: 'EB Garamond';
    color: #281A13;
    text-align: left;
    display: inline-block;
    max-height: 190px;
}
    
.nav-header a{
    font-size: 3.04rem;
    text-decoration: underline dotted 4px;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 4px;
    -webkit-text-decoration-thickness: 4px; 
    color: #281A13;
    cursor: pointer;
}


.nav-header a:hover#forbidden{
    cursor: not-allowed;
    background: linear-gradient(to right, #FFFDF7 50%, transparent 0%), 
    linear-gradient(transparent 35%, rgba(128, 128, 128, 0.364) 35%);
    animation: highlight 1000ms ease forwards;
    background-size: 200%;
}

.nav-header a:hover{
    color: #281A13;
    cursor: pointer;
    background: linear-gradient(to right, #FFFDF7 50%, transparent 0%), 
    linear-gradient(transparent 35%, #C29D3B99 35%);
    animation: highlight 1000ms ease forwards;
    background-size: 200%;
}

.nav-header a.active{
    text-decoration: none;
    color: #281A13;
    cursor: pointer;
    background: linear-gradient(to right, white 50%, transparent 0%), 
    linear-gradient(transparent 35%, #C29D3B99 35%);
    animation:none;
    background-size: 200%;
    background-position: 100%;
}


@keyframes highlight {
    from {
      background-position: 0;
    }

    to {
      background-position: 100%;
    }
}

/* ABOUT STYLES */

.about-grid{
    /* display: grid;
    grid-template-areas: "side body pic";
    grid-template-columns: 225px 405px 1fr;
    column-gap: 50px; */
    display: flex;
    flex-direction: row;
    column-gap: 50px;
    padding-top: 25px;
}

.about-body{
    grid-area: body;
    flex: 405px;
}

.about-side{
    grid-area: side;
    flex: 225px;
    display: flex;
    flex-direction: column;
}

.about-side a{
    display: block;
}

.about-pic{
    grid-area: pic;
    flex-grow: 1;
}

/* GALLERY STYLES */

.gallery{
    width: 100%;
    max-width: 1200px;
    column-count: 3; /* desktop default */
    column-gap: 15px;
    padding: 20px 0;

    /* for safari */
    transform: translateZ(0);
    /* dont render during transitions */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery#code{
    column-count: 2;
}

.item {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 15px;
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.2s ease;
     transform: translateZ(0);
     -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
}

.item:hover {
    transform: scale(1.05);
}

@media (hover: none) and (pointer: coarse) {
    /* target devices that use touch & cannot hover */
    .item:hover {
        transform: scale(1);
    }
}
  

/* WORK CLOSEUP VIEW STYLES */

.cursor-zoom-in {
  cursor: zoom-in;
  z-index: 99999999999;
}

.view-container {
    display: none;
    padding: 20px 32px;
}
.view-container.active {
    display: block;
}

@keyframes fadeIn {
    0% {
      transform: translateY(10%);
      opacity: 0;
    }
    100% {
      transform: translateY(0%);
      opacity: 1;
    }
}

.project-content-wrapper {
    animation: fadeIn 1.2s ease;
}


.project-content-wrapper {
    max-width: 1400px;
    margin: 0 auto; 
    position: relative; 
}

.project-header {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #eee;
    text-align: right;
}

.back-link {
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    transition: color 0.2s ease;
    position: relative;
    z-index: 999;
}
.back-link:hover {
    color: var(--color-accent);
    cursor: pointer;
}

.project-body {
    display: flex;
    gap: 2rem;
}

.project-left {
    flex: 3;
    display: flex;
    flex-direction: column;
    min-width: 0;
    max-height: 75vh; 
}

.project-right {
    flex: 2;
    padding-top: 1rem;
}

.image-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem; 
    min-height: 0;
    }

#project-main-img {
    max-width: 100%;
    max-height: 60vh; 
    object-fit: contain;
}

.thumb-strip {
    display: flex;
    justify-content: center;
    gap: 0.75rem;
    flex-wrap: wrap;
    padding-top: 1rem;
    border-top: 1px solid #eee;
    position: relative;
    z-index: 999;
}

.thumb-strip img {
    height: 60px;
    cursor: pointer;
    opacity: 0.6;
    border: 2px solid transparent;
    transition: all 0.2s ease;
}
.thumb-strip img.active, .thumb-strip img:hover {
    opacity: 1;
}
.thumb-strip img.active {
    border-color: var(--color-accent);
}

.summary-text {
    font-family: serif;
    /* font-size: 1.1rem; */
    line-height: 1.7;
    white-space: pre-line;
    text-align: left;
    position: relative;
    z-index: 9999999999;
    overflow: scroll;
    height: 450px;
   
}




.nav-zone {
    position: absolute; 
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 10;
}
#nav-left { left: 0; cursor: w-resize; }
#nav-right { right: 0; cursor: e-resize; }


/* MEDIA BREAKPOINTS */

@media (max-width: 1200px) {
    .gallery {
        column-count: 4;
    }
    .gallery#code{
    column-count: 2;
}
}

@media (max-width: 900px) {
    .gallery {
        column-count: 3;
    }
    .gallery#code{
    column-count: 1;
}
    .about-grid {
        flex-direction: column;
        row-gap: 25px;
    }
    .about-side{
        flex: auto;
        flex-direction: row;
        column-gap: 5px;
    }
    .about-body{
        flex: auto;
    }
    .about-pic{
        flex: auto;
    }
    .project-body {
        flex-direction: column;
    }
    .project-right {
        padding-top: 2rem;
        border-top: 1px solid #eee;
    }
}


@media (max-width: 600px) {
    .gallery {
        column-count: 2;
    }
    .gallery#code{
    column-count: 1;
}
}

@media (max-width: 400px) {
    .gallery {
        column-count: 1;
    }
    .gallery#code{
    column-count: 1;
}
}